input {
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-profile "flat"
    }
}

layout {
    gaps 2

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 2

        active-color "#ebdbb2"
        inactive-color "#928374"
    }

    background-color "#282828"
}

cursor {
    hide-when-typing

    xcursor-theme "Capitaine Cursors (Gruvbox)"
    xcursor-size 18
}

animations {
    window-open {
        off
    }
    window-close {
        off
    }
}

environment {
  PROTON_USE_WAYLAND "1"
  // CLUTTER_BACKEND "wayland"
  // // GDK_BACKEND "wayland,x11,*"
  // GDK_DPI_SCALE "1"
  // GDK_SCALE "1"
  // QT_AUTO_SCREEN_SCALE_FACTOR "1"
  // // QT_QPA_PLATFORM "wayland;xcb"
  // QT_QPA_PLATFORMTHEME "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  // SDL_VIDEODRIVER "wayland"
  // // GSK_RENDERER "ngl"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  WLR_NO_HARDWARE_CURSORS "1"
  // DMS_DISABLE_MATUGEN "1"
  // // Force vaapi backend to prevent using the dGPU
  // QT_MEDIA_BACKEND "ffmpeg"
  // QT_FFMPEG_DECODING_HW_DEVICE_TYPES "vaapi"
  // QT_FFMPEG_ENCODING_HW_DEVICE_TYPES "vaapi"
  // // fix java
    _JAVA_AWT_WM_NONREPARENTING "1"
  TERM "foot"
  TERMINAL "foot"
  EDITOR "nvim"
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path null

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id="Bitwarden"
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#fb4934"
        inactive-color "#fe8019"
    }
}

// Dialogs window rule
window-rule{
    match app-id="confirm"
    match app-id="pwvucontrol"
    match app-id="cpupower"
    match app-id="easyeffects"
    match app-id="xdg-desktop-portal-gtk"
    match title=r#".*Extension.*Bitwarden.*"#
    match title="Friends List" app-id="steam"
    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.75; }
}

window-rule {
    match app-id="steam" title="^notificationtoasts"
    open-focused false
    default-floating-position x=0 y=0 relative-to="bottom-left"
    block-out-from "screencast"
}

layer-rule {
    match namespace="^notifications"
    block-out-from "screen-capture"
}

spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"
spawn-at-startup "systemctl" "--user" "import-environment" "DISPLAY" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "hash dbus-update-activation-environment" "2>/dev/null"
spawn-at-startup "waybar"
spawn-at-startup "bitwarden"
