[Desktop Entry]
Name=Steam
Exec=flatpak run --branch=stable --arch=x86_64 --command=/app/bin/steam --file-forwarding com.valvesoftware.Steam @@u %U @@ -silent
Icon=com.valvesoftware.Steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
X-Desktop-File-Install-Version=0.28
StartupWMClass=Steam
X-Flatpak-RenamedFrom=steam.desktop;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.valvesoftware.Steam
