/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}


@import "~/.config/rofi/base-style.rasi"
window {
    width: 700;
}
/*****----- Main Box -----*****/
mainbox {
    children:                    [ "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    border:                      0px;
    padding:                     0px;
    background-color:            transparent;
    children:                    [ "textbox-prompt-colon", dummy, "prompt"];
}

dummy {
    background-color:            transparent;
}

textbox-prompt-colon {
    str:                         "";
    padding:                     5px 10px;
    background-color:            transparent;
    text-color:                  @bg0;
}
prompt {
    padding:                     5px;
    background-color:            @accent-color;
    text-color:                  @bg0;
}

/*****----- Message -----*****/
message {
    padding:                     0px;
    border-color:                @accent-color;
    background-color:            @bg1;
    text-color:                  @fg0;
}
textbox {
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    placeholder-color:           @fg0;
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @accent-color;
    background-color:            @bg0;
    text-color:                  @fg0;
}

/*****----- Listview -----*****/
listview {
    columns:                     5;
    lines:                       1;
    padding: 0;
    
    spacing:                     15px;
    border-color:                @accent-color;
    background-color: @bg1;
}

/*****----- Elements -----*****/
element {
    padding: 6px;
    spacing:                     0px;
    border-color:                @accent-color;
    background-color:            @bg1;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

element alternate.normal {
    background-color:            @bg1;
}
element normal.normal {
    background-color:            @bg1;
}

element selected.normal {
    border:                      0px 0px 0px 0px;
    border-radius:               0px;
    background-color:            var(accent-color);
    text-color:                  var(bg0);
}
