output "DP-2" {
    mode "3440x1440@75.050"
    scale 1
    position x=0 y=1080
    variable-refresh-rate on-demand=true
    focus-at-startup
}

output "HDMI-A-2" {
    mode "2560x1080@60"
    scale 1
    transform "180"
    position x=440 y=0
}

layout {
    gaps 2

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 2

        active-color "#ebdbb2"
        inactive-color "#928374"
    }

    background-color "#282828"
}

cursor {
    hide-when-typing

    xcursor-theme "Simp1e-Gruvbox-Dark"
    xcursor-size 18
}

animations {
    window-open {
        off
    }
    window-close {
        off
    }
}

environment {
  PROTON_USE_WAYLAND "1"
  CLUTTER_BACKEND "wayland"
  GDK_BACKEND "wayland,x11,*"
  GDK_DPI_SCALE "1"
  GDK_SCALE "1"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  SDL_VIDEODRIVER "wayland"
  GSK_RENDERER "ngl"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  WLR_NO_HARDWARE_CURSORS "1"
  DMS_DISABLE_MATUGEN "1"
  // Force vaapi backend to prevent using the dGPU
  QT_MEDIA_BACKEND "ffmpeg"
  QT_FFMPEG_DECODING_HW_DEVICE_TYPES "vaapi"
  QT_FFMPEG_ENCODING_HW_DEVICE_TYPES "vaapi"
}

spawn-at-startup "waybar"

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path null

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id="Bitwarden"
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Dialogs window rule
window-rule{
    match app-id="confirm"
    match app-id="pavucontrol"
    match app-id="blueman"
    match app-id="nm-connection-editor"
    match app-id="org.gnome.PowerStats"
    match app-id="cpupower"
    match app-id="rog-control-center"
    match app-id="jamesdsp"
    match app-id="easyeffects"
    match app-id="Hello"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="system-config-printer"
    match app-id="ghostty_journalctl"
    match title=r#".*Extension.*Bitwarden.*"#
    match app-id="brave-keep"
    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.45; }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+Semicolon hotkey-overlay-title="Run an Application: rofi" { spawn-sh "~/.config/rofi/menu/launcher.sh"; }
    Mod+W hotkey-overlay-title="Run an Application: qutebrowser" { spawn "qutebrowser"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+J repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+N     { spawn-sh "~/.config/niri/vim-niri-nav left"; }
    Mod+E     { spawn-sh "~/.config/niri/vim-niri-nav down m"; }
    Mod+I     { spawn-sh "~/.config/niri/vim-niri-nav up m"; }
    Mod+O     { spawn-sh "~/.config/niri/vim-niri-nav right"; }

    // Mod+N     { focus-column-left; }
    // Mod+E     { focus-window-or-monitor-down; }
    // Mod+I     { focus-window-or-monitor-up; }
    // Mod+O     { focus-column-right; }

    Mod+Shift+N     { move-column-left; }
    Mod+Shift+E     { move-window-down; }
    Mod+Shift+I     { move-window-up; }
    Mod+Shift+O     { move-column-right; }

    Mod+H { focus-column-first; }
    Mod+Slash { focus-column-last; }
    Mod+Ctrl+H { move-column-to-first; }
    Mod+Ctrl+Slash  { move-column-to-last; }

    Mod+Ctrl+N     { move-column-to-monitor-left; }
    Mod+Ctrl+E     { move-column-to-monitor-down; }
    Mod+Ctrl+I     { move-column-to-monitor-up; }
    Mod+Ctrl+O     { move-column-to-monitor-right; }

    Mod+M        { focus-workspace-up; }
    Mod+K      { focus-workspace-down; }
    Mod+Shift+M   { move-column-to-workspace-up; }
    Mod+Shift+K { move-column-to-workspace-down; }

    Mod+Ctrl+M   { move-workspace-up; }
    Mod+Ctrl+K { move-workspace-down; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+BracketLeft { consume-window-into-column; }
    Mod+BracketRight { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Left { set-column-width "-10%"; }
    Mod+Right { set-column-width "+10%"; }

    Mod+Down { set-window-height "-10%"; }
    Mod+Up { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    Mod+Shift+S { screenshot; }
    Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}

// when niri hits 25.11
// include "test.kdl"
