output "DP-2" {
    mode "3440x1440@75.050"
    scale 1
    position x=0 y=1080
    variable-refresh-rate on-demand=true
    focus-at-startup
}

output "HDMI-A-2" {
    mode "2560x1080@60"
    scale 1
    transform "180"
    position x=440 y=0
}

